
# IDE files
*.pro.user*
.idea

# generated code
src/age_common/api/git_revision.hpp

# build artifacts
build/doxygen/html
build/artifacts
cmake-build-*
build*Qt*

# miscellaneous files
Thumbs.db
.DS_Store
