
# IDE files
*.pro.user*
.idea

# build artifacts
build/doxygen/html
build/artifacts
cmake-build-*

# AGE-JS
node_modules
src-web/age_js/dist
src-web/age_js/npm-debug.log*
src-web/age_js/src/assets/age_wasm*
src-web/age_js/src/assets/icons/icon-*.png
src-web/age_js/src/environments/version.ts

# miscellaneous files
Thumbs.db
.DS_Store
