
.age-ui-input {
    background-color: #202020;
    color: #C8C8C8;
    padding: .1em;
    border: double #404040;
}

.age-ui {
    background-color: #404040;
    color: #B8B8B8;
    cursor: default;
}

.age-ui-error {
    color: #FFA0A0;
}

.age-ui-highlight {
    color: #C8C8C8;
}

.age-ui-title {
    font-size: x-large;
    font-weight: bold;
    color: #C8C8C8;
}

.age-ui-subtitle {
    font-size: large;
    font-weight: bold;
    color: #C8C8C8;
}

.age-ui-clickable {
    cursor: pointer;
    color: #98A8E0;
    text-decoration: none;
}

.age-ui-clickable:hover {
    color: #E0F0FF;
}

.age-ui-big-icon {
    font-size: xx-large;
}
