Checks: >
  *,
  -abseil-*,
  -android-*,
  -altera-struct-pack-align,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -fuchsia-*,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
